#main .container #menuActions{float:right !important;}
#menuActions .btn-group {margin-right: 10px;}
div.dropdown {display: inline-block;}
.main-table .table>tbody>tr>td, .main-table .table>thead>tr>th{ white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}
